body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('172.jpg');
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #7d64ce;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#task-input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7d64ce;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#add-task-button:hover {
    background-color: #baa8f5;
}

.task-columns {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.column {
    width: 32%;
    background: #e7d3fe;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h2 {
    text-align: center;
    background: #fee7ff;
    padding: 10px;
    margin: 0 -15px 15px;
    border-radius: 10px 10px 0 0;
}

.task-list {
    min-height: 150px;
}

.task-item {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #AEA6C9;
}

.task-item button:hover {
    color: #baa8f5;
}